<footer class="container-fluid argProgContainer navbar static-top d-flex ">
    <div class="d-flex flex-wrap justify-content-center py-1 mx-3">
      <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" class="d-flex align-items-start mb-md-0 me-md-auto text-decoration-none" target="_blank">
        <span class="fs-6 argProgHash">Gastón Zampar © 2023 </span>
        <img src="../../../assets/img/APLogo-20-20.png" alt="" class="argProgLogo">
      </a>
    </div>
</footer>
  
  