<nav class="container-fluid argProgContainer navbar static-top d-flex ">
  <div class="d-flex flex-wrap justify-content-start py-1 mx-3">
    <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" class="d-flex align-items-start mb-md-0 me-md-auto text-decoration-none" target="_blank">
      <img src="../../../assets/img/APLogo-20-20.png" alt="" class="argProgLogo">
      <span class="fs-6 argProgHash">#yoprogramo</span>
    </a>
  </div>
  <div class="py-1 mx-3 d-flex align-items-center">
    <a class="navbar-brand" href="#">
      <i class="bi bi-whatsapp"></i>
    </a>
    <a class="navbar-brand" href="http://linkedin.com/in/zamparg">
      <i class="bi bi-linkedin"></i>
    </a>
    <a class="navbar-brand" href="https://github.com/zamparg">
      <i class="bi bi-github"></i>
    </a>
    <a routerLink="profile" routerLinkActive="active" *ngIf="logIn">
      <button class="btn btn-outline-light btn-login">Perfil</button>
    </a>
    <a (click)="logout()" *ngIf="logIn">
      <button class="btn btn-outline-light btn-login">Cerrar Sesion</button>
    </a>
    <a routerLink="" routerLinkActive="active" *ngIf="!logIn" (click)="switchLoginModal()">
      <button class="btn btn-outline-light btn-login">Login</button>
    </a>
  </div>
  
</nav>



        