<section class="container-fluid" *ngIf="persona">
  <h1 class="text-center mt-2 text-white">Editar Persona</h1>
    <div class="experience section m-1"> 
      <div class="row ">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="formGroup">
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="name" [(ngModel)]="persona.name" required>
                <label for="description">Descripción breve:</label>
                <input type="text" id="description" name="description" [(ngModel)]="persona.description" required>
                <label for="about">Acerca de:</label>
                <textarea  id="about" name="about" [(ngModel)]="persona.about" required></textarea>
                <label for="img">Imagen (url):</label>
                <input type="text" id="img" name="img" [(ngModel)]="persona.img" required>
            </div>
            <button class="btn btn-dark"> Actualizar </button>
        </form>
      </div>  
    </div>
  </section>