<section class="container-fluid ">
  <h1 class="text-center mt-2 text-white">Nuevo Curso</h1>
    <div class="experience section m-1"> 
      <div class="row ">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="formGroup">
                <label for="tittle">Nombre del Curso:</label>
                <input type="text" id="tittle" name="tittle" [(ngModel)]="tittle" required>
                <label for="time">Año de realización:</label>
                <input type="text" id="time" name="time" [(ngModel)]="time" required>
                <label for="academy">Academia :</label>
                <input type="text" id="academy" name="academy" [(ngModel)]="academy" required>

            </div>
            <button class="btn btn-dark"> Agregar Educación </button>
        </form>
      </div>  
    </div>
  </section>