<section class="container-fluid">
    <div class="projects section m-1">
      <div class="d-flex ">
        <h2>Proyectos</h2>
        <button class="btn btn-dark m-2 " routerLink="/nueva_experiencia" *ngIf="isLogged"><i class="bi bi-plus-circle"></i></button>
      </div>
        
      <div class="row">
        <div *ngFor="let proyecto of proyectos" class="col-md-4">
          <div class="card">
            <div class="card-body text-center">
              <img [src]="proyecto.img" class="avatar-card mx-auto d-block" alt="...">
              <div class="text-center d-flex gap-3 justify-content-center">
                <h5 class="card-title">{{proyecto.tittle}}</h5>
                <div *ngIf="isLogged" class="m-0">
                  <button class="btn btn-light iconEdit" routerLink="/editar_proyecto/{{proyecto.id}}">
                    <i  class="bi bi-pencil-square "></i>
                  </button>
                  <button class="btn btn-danger  iconEdit" (click)="delete(proyecto.id)">
                    <i class="bi bi-trash3 "></i>  
                  </button>
                </div>

              </div>
              <p class="card-text">{{proyecto.description}}</p>
              <a [href]="proyecto.link" class="btn btn-dark">Ver Proyecto</a>
            </div>
            
          </div>
        </div>

      </div>
    </div>
  </section>