input {
    border-radius: 9px;
    width: 10rem;
}

.modalLogin{
    width: 15rem; 
    height: auto; 
    position: absolute;
    right: 0;
    background-color: black;
    z-index: 100;
    display: flex;
    padding: 2rem;
}