input {
    border-radius: 9px;
    width: 10rem;
}
@keyframes example {
    from {opacity: 0}
    to {opacity: 100; }
  }
  
.modalLogin{
    animation-name: example;
    animation-duration: 1s;
    width: 15rem; 
    height: auto; 
    position: absolute;
    right: 0;
    background-color: black;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 0 0 0 12px;
}