
<div class="modalLogin"  >

    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate class="d-flex align-items-center justify-content-center flex-wrap">
        <div class="text-center">
            <label for="user" class="m-1">Usuario:</label>
            <input type="text"  id="nombreUsuario" name="nombreUsuario" [(ngModel)]="nombreUsuario" required>
            <br>
        </div>
        <div class="text-center">
            <label for="password" class="m-1">Password:</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" required>
            <br>
        </div>
        <div *ngIf="mensajeError"><small class="text-danger">Usuario o contraseña incorrectos</small></div>
        <!--<p class="small">¿Olvidaste la contraseña?</p>  -->
        <button class="btn-dark btn m-2 border border-white"type="submit"> Login</button>
        
        <!--
        <label for="email">Email:</label>
        <input type="email" formControlName="email">
        <div *ngIf="Mail?.errors  && Mail?.touched">    
            <p *ngIf="Mail?.hasError('required')" class="error">
                El email es requerido.
            </p>
            <p *ngIf="Mail?.hasError('email')" class="error">
                El formato del email debe ser válido.
              </p>
        </div>
        <br>            
      -->
      </form>
      <a routerLink="nuevo-usuario" class="text-decoration-none text-white"><p class="small m-0 ">No tengo cuenta</p></a>

</div>

      
