<section class="container-fluid ">
  <h1 class="text-center mt-2 text-white">Nueva Experiencia</h1>
    <div class="experience section m-1"> 
      <div class="row ">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="formGroup">
                <label for="role">Rol:</label>
                <input type="text" id="role" name="role" [(ngModel)]="role" required>
                <label for="employer">Empresa:</label>
                <input type="text" id="employer" name="employer" [(ngModel)]="employer" required>
                <label for="img">Logo (url):</label>
                <input type="text" id="img" name="img" [(ngModel)]="img" required>
                <label for="duration">Duración:</label>
                <input type="text" id="duration" name="duration" [(ngModel)]="duration" required>
                <label for="task">Tareas:</label>
                <textarea type="text" id="task" name="task" [(ngModel)]="task" required></textarea>
            </div>
            <button class="btn btn-dark border border-white "> Agregar Experiencia </button>
        </form>
      </div>  
    </div>
  </section>