<section class="container-fluid " id="courses">
    <div class="courses section m-1">
      <div class="d-flex justify-content-between">
        <h2>Cursos y Certificaciones</h2>
        <button class="btn btn-dark" routerLink="/nueva_educacion" *ngIf="isLogged">Agregar Educacion</button>
      </div>
     

      <div class="container-fluid row justify-content-between">
        <div *ngFor="let curso of educacion" class="col-md-5 col-12 row rounded border p-1 m-1 card-courses">
          <div class="col-md-2 col-2 fst-italic">{{curso.time}}</div>
          <div class="col-md-5  fw-bold text-center">{{curso.tittle}}</div>
          <div class="col-md-5  text-center">{{curso.academy}}</div>
          <div class="col-md-5"></div>
          <div *ngIf="isLogged" class="m-0">
            <button class="btn btn-light p-1 my-0 mx-1" routerLink="/editar_educacion/{{curso.id}}">
              <i  class="bi bi-pencil-square mx-1 my-0">Editar</i>
            </button>
            <button class="btn btn-danger p-1 my-0 mx-1" (click)="delete(curso.id)">
              <i class="bi bi-trash3 mx-1 my-0">Eliminar</i>  
            </button>
          </div>
        </div>

      </div>
    </div>
  </section>