<section class="container-fluid">
    <div class="skillsSection section m-1">
      <div class="d-flex justify-content-between">
        <h2>Skills</h2>
        <button class="btn btn-dark" routerLink="/nuevo_skills" *ngIf="isLogged">Agregar Skill</button>
      </div>
      
      <div class="row">
        <div *ngFor="let skill of skills"class=" mb-3 skills col-sm-4" >
          <div class="card">
            <div class="row g-0">
              <div class="col-md-4">
                <img [src]="skill.img" class="img-fluid rounded-start skillIcon mx-auto d-block mt-2 " alt="{{skill.tittle}}">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{skill.tittle}}</h5>
                  <div class="progress" style="height: 5px;">
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" [style.width.%]="skill.percent" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div *ngIf="isLogged" class="m-0">
                  <button class="btn btn-light px-2 " routerLink="/editar_skill/{{skill.id}}">
                    <i  class="bi bi-pencil-square "></i>
                  </button>
                  <button class="btn btn-danger px-2 " (click)="delete(skill.id)">
                    <i class="bi bi-trash3 "></i>  
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </section>